@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', cursive;
}
body{    
    background-color: #06467a;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

h1{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#gameDiv{
    display: flex;
    margin: 10vh auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    width: 400px;
    max-width: 70%;
    min-height: 80vh;
    text-align: center;
    border-radius: 10px;
    background-color: #c7e4fb;
    box-shadow: 0 0 0.5rem #A7BEAE;
}

.buttons{
    padding-top: 5px;
    margin-top: 10px;
    line-height: 30px;
    width: 150px;
    border-radius: 10px;
    border: 2.5px solid #06467a;
    background-color: #d1dee8;
    font-weight: bold;
    cursor: pointer;
}

.buttons:hover{
    background-color: #aec9df;
}

.results{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;
    padding-top: 10px;
    width: 400px;
    max-width: 60%;
}

#playerText{
    color: #0c4092;
}
#computerText{
    color: #931e53;
}
#chooseText{
    font-size: 20px;
}